.column-builder-container .query-builder .rules-list > *::after,
.column-builder-container .query-builder .rules-list > *::before {
    border-style: none;
}

.column-builder-container .query-builder .rule-container .rule-value-container {
    border-left: none;
}

.column-builder-container .query-builder .rules-list {
    padding-left: 0px;
}

.column-builder-container .rules-group-body {
    margin-top: 30px;
}

#tab2default .panel-body,
#tab3default .panel-body {
    padding: 0px;
}
